<!-- ////////////// FOOTER ////////////// -->
footer.pt-4
	section.footer-1
		.container
			.row
				.col-12.col-md.text-center.text-md-left
					img(src="./img/logo-footer.png" alt="").img-fluid
					ul.list-inline
						li.list-inline-item
							a(href="#")
								i.fa.fa-facebook
						li.list-inline-item
							a(href="#")
								i.fa.fa-twitter
						li.list-inline-item
							a(href="#")
								i.fa.fa-instagram
				.col-12.col-md
					h3 liên hê
					ul.list-styled.text-small
						li
							i.fa.fa-home
							a.text-muted(href="#") 28 đường số 2 Cityland phường 2 quận Gò Vấp TP.HCM
						li
							i.fa.fa-calculator
							a.text-muted(href="#") +84(25 25 45 2584)
						li
							i.fa.fa-home
							a.text-muted(href="#") +84(25 25 45 2584)
						li
							i.fa.fa-envelope
							a.text-muted(href="#") info@gmail.com
				.col-12.col-sm-6.col-md
					h3 dịch vu
					ul.list-unstyled.text-small
						li
							a.text-muted(href="#") Resource
						li
							a.text-muted(href="#") Resource name
						li
							a.text-muted(href="#") Another resource
						li
							a.text-muted(href="#") Final resource
				.col-12.col-sm-6.col-md
					h3 liên kết nhanh
					ul.list-unstyled.text-small
						li
							a.text-muted(href="#") About
						li
							a.text-muted(href="#") Locations
						li
							a.text-muted(href="#") Privacy
						li
							a.text-muted(href="#") Terms
	section.footer-2
		.container
			.row
				.col
					p.text-center Copyright 2018 by FullStack Vietnam.

